.qiitatom-markdown {
  overflow: scroll;
  color: #222;
  a {
    color: #888;
    text-decoration: underline;
  }
  code {
    color: #000;
    background: #ccc;
    text-shadow: none;
    font-weight: lighter;
    background-color: #ddd;
  }
  pre {
    background: #ccc;
    code {
      color: #000;
      background: #ccc;
    }
  }
}
