.qiitatom-markdown {
  color: #bababa;
  padding: 0 6px;
  a {
    color: #66916c;
    text-decoration: underline;
  }
  code {
    color: #a39a9a;
    background: #4d4d4d;
    text-shadow: none;
    font-weight: lighter;
    border-radius: 2px;
  }
  pre {
    background: #4d4d4d;
    code {
      color: #a39a9a;
      background: #4d4d4d;
    }
  }
}
