// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";



.qiitatom {
  height: 100px;
  font-weight: 500;
}

.qiitatom__search-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.7;
  -webkit-filter: blur(2px);
  z-index: 199;
}

.headerLabel {
  font-size: 16px;
}

.qiitatomAuthButton {
  margin-left: 300px;
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  float: right;
}

.qiitatomForms {
  margin-top: 10px;
}

.qiitaSearchRadioButton {
  margin-right: 5px !important;
}

.qiitaSearchRadioButtonLabel {
  margin-right: 10px !important;
}

.qiitatomButtons {
  padding-left: 160px;
}

.qiitatomSearchButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin-right: 10px;

  &[disabled] {
    color: #777;
    background-color: #666;
    border: 1px solid #666;
  }
}

.qiitatomCancelButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.qiitatom__authpanel__infolabel {
  font-size: 14px;
}

.qiitatom__authpanel__infolabel:nth-child(2)::before {
  content: "\A" ;
	white-space: pre ;
}

.qiitatom__authpanel__buttons {
  display: flex;
  justify-content: flex-end;
}
.qiitatom__authpanel__input {
  margin-top: 5px;
}
.qiitatom__authpanel__getcodebutton,
.qiitatom__authpanel__authbutton
{
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin-right: 10px;
}


// result-view


.qiitatomSearchResultView {
  padding: 10px;
  overflow: scroll;
  background-color: #fff;
}

.qiitatom__searchresult__cover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  z-index: 100;
}

.qiitatomResultViewHeaderLabel {
  color: #888;
  font-size: 20px;
  margin: 10px 0;
}

.qiitatomSearchQuery {
  color: #333;
  font-weight: bold;
}

.qiitatomResultViewItemContainer {
  min-height: 595px;
}

.qiitatomResultViewItem {
  -webkit-user-select: none;
  color: #696464;
  min-height: 25px;
  font-size: 12px;
  cursor: pointer;
  background-color: #cfc8c8;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 5px;
}

.qiitatomResultViewItemTitle {
  font-size: 15px;
  font-weight: bold;
}

.qiitatomResultViewPager {
  margin-top: 20px;
  span {
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    background-color: #bbb;
    border: 3px solid #bbb;
    border-radius: 4px;
  }
}

.qiitatomBackToResultViewButton {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #333;
  margin-bottom: 10px;

  span {
    cursor: pointer;
    font-size: 15px;
    color: #fff;
  }
}

.qiitatomPostPreviewConfirm {
  margin-left: 10px;
  margin-top: 10px;
  span {
    cursor: pointer;
    color: #f00;
    font-size: 16px;
    background-color: #fff;
    border: 3px solid #ea3;
    border-radius: 3px;
    margin-right: 10px;
  }
}


// loading cover
#qiitatom__search-cover-loading {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	width:60px;
	height:75px;
	margin:auto;
  z-index: 1600;
  opacity: 0.5;
}

.qiitatom__search-cover-loading-bar {
  position:absolute;
	background-color:rgba(170,250,163,0.98);
	width:10px;
	height:23px;
	border-radius:8px 8px 0 0;
		-webkit-border-radius:8px 8px 0 0;
	transform:scale(0.4);
		-webkit-transform:scale(0.4);
	animation-name:fadeG;
		-webkit-animation-name:fadeG;
	animation-duration:0.732s;
		-webkit-animation-duration:0.732s;
	animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
	animation-direction:normal;
		-webkit-animation-direction:normal;
}

#qiitatom__search-cover-loading-bar1 {
  left:0;
	top:27px;
	animation-delay:0.2695s;
		-webkit-animation-delay:0.2695s;
	transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
}

#qiitatom__search-cover-loading-bar2 {
  left:8px;
	top:10px;
	animation-delay:0.366s;
		-webkit-animation-delay:0.366s;
	transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
}
#qiitatom__search-cover-loading-bar3 {
  left:25px;
	top:3px;
	animation-delay:0.4525s;
		-webkit-animation-delay:0.4525s;
	transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
}
#qiitatom__search-cover-loading-bar4 {
  right:8px;
	top:10px;
	animation-delay:0.549s;
		-webkit-animation-delay:0.549s;
	transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
}
#qiitatom__search-cover-loading-bar5 {
  right:0;
	top:27px;
	animation-delay:0.6355s;
		-webkit-animation-delay:0.6355s;
	transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
}
#qiitatom__search-cover-loading-bar6 {
  right:8px;
	bottom:7px;
	animation-delay:0.732s;
		-webkit-animation-delay:0.732s;
	transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
}
#qiitatom__search-cover-loading-bar7 {
  bottom:0;
	left:25px;
	animation-delay:0.8185s;
		-webkit-animation-delay:0.8185s;
	transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
}
#qiitatom__search-cover-loading-bar8 {
  left:8px;
	bottom:7px;
	animation-delay:0.905s;
		-webkit-animation-delay:0.905s;
	transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
}

@keyframes fadeG{
	0%{
		background-color:rgb(147,245,173);
	}

	100%{
		background-color:rgb(255,255,255);
    opacity: 0;
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(147,245,173);
	}

	100%{
		background-color:rgb(255,255,255);
    opacity: 0;
	}
}
