// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";



.qiitatom {
  height: 100px;
  font-weight: 500;
}

.qiitatom__search-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.7;
  -webkit-filter: blur(2px);
  z-index: 199;
}

.headerLabel {
  font-size: 16px;
}

.qiitatomAuthButton {
  margin-left: 300px;
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  float: right;
}

.qiitatomForms {
  margin-top: 10px;
}

.qiitaSearchRadioButton {
  margin-right: 5px !important;
}

.qiitaSearchRadioButtonLabel {
  margin-right: 10px !important;
}

.qiitatomButtons {
  padding-left: 160px;
}

.qiitatomSearchButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin-right: 10px;

  &[disabled] {
    color: #777;
    background-color: #666;
    border: 1px solid #666;
  }
}

.qiitatomCancelButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.qiitatom__authpanel__infolabel {
  font-size: 14px;
}

.qiitatom__authpanel__infolabel:nth-child(2)::before {
  content: "\A" ;
	white-space: pre ;
}

.qiitatom__authpanel__buttons {
  display: flex;
  justify-content: flex-end;
}
.qiitatom__authpanel__input {
  margin-top: 5px;
}
.qiitatom__authpanel__getcodebutton,
.qiitatom__authpanel__authbutton
{
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin-right: 10px;
}


// result-view


.qiitatomSearchResultView {
  padding: 6px;
  overflow: scroll;
  background-color: #fff;
}

.qiitatom__searchresult__cover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  z-index: 100;
}

.qiitatomResultViewHeaderLabel {
  color: #888;
  font-size: 20px;
  margin: 10px 0;
}

.qiitatomSearchQuery {
  color: #333;
  font-weight: bold;
}

.qiitatomResultViewItemContainer {
  min-height: 595px;
}

.qiitatomResultViewItem {
  -webkit-user-select: none;
  color: #696464;
  min-height: 25px;
  font-size: 12px;
  cursor: pointer;
  background-color: #cfc8c8;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 5px;
}

.qiitatomResultViewItemTitle {
  font-size: 15px;
  font-weight: bold;
}

.qiitatomResultViewPager {
  margin-top: 20px;
  span {
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    background-color: #bbb;
    border: 3px solid #bbb;
    border-radius: 4px;
  }
}

.qiitatom__result__post-container {
  overflow: hidden;
}

.qiitatom__result__content-container {
  overflow: scroll;
  color: #222;
  a {
    color: #888;
    text-decoration: underline;
  }
  code {
    color: #000;
    background: #ccc;
    text-shadow: none;
    font-weight: lighter;
    background-color: #ddd;
  }
  pre {
    background: #ccc;
    code {
      color: #000;
      background: #ccc;
    }
  }
}

.qiitatomBackToResultViewButton {
  display: flex;
  align-items: center;
  min-height: 38px;
  background-color: #bbd4c2;
  margin-bottom: 10px;
  text-align: center;

  span:first-child {
    min-width: 110px;
    cursor: pointer;
    font-size: 11px;
    color: #e2e2e2;
    margin-left: 4px;
    background-color: #74b58a;
    border: 2px solid #3ba15b;
    border-radius: 4px;
    padding: 2px;
  }
  span:nth-child(2) {
    color: #73a87e;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    margin: 3px;
  }
}

.qiitatomPostPreviewConfirm {
  margin-left: 10px;
  margin-top: 10px;
  span {
    cursor: pointer;
    color: #f00;
    font-size: 16px;
    background-color: #fff;
    border: 3px solid #ea3;
    border-radius: 3px;
    margin-right: 10px;
  }
}

// Qiitatom:Post
.qiitatom-post__publicity {
  input {
    margin-right: 5px;
  }
  label {
    margin-right: 15px;
  }
}

.qiitatom-post__labels {
  margin-bottom: 10px;
  label:first-child {
    font-size: 12px;
    margin-right: 5px;
    background-color: #333;
  }
  label:nth-child(2) {
    font-size: 15px;
    color: #999;
    font-weight: bold;
  }
}

.qiitatom-post__preview {
  display: flex;
  justify-content: flex-end;

  button {
    color: #000;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
  }
}
